/* .container{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba(3, 3, 3, 0.18);
    height: 100%;
    width: 50vh;
    flex-basis: 100%;
    flex-grow: 1px;
    justify-content: space-around;
    
}

.single-card{
    
    display: block;
    flex-shrink: 50%;
    padding: 0;
    /* margin: inherit; 
    position: relative;
}

.row {
    display: flex;
} */